
.app__container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper  {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
}

@media screen and (max-width: 450px) {
    .app__wrapper {
        padding: 4rem 1rem 2rem;
    }
}