@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Markazi Text', serif;
    font-size: 28px;
    font-weight: 500;
    color: #495E57;
    text-transform: uppercase;
    padding-left: 70px;
    padding-right: 70px;
    border: 1px solid rgb(255, 111, 0);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
nav ul li {
    /* border: 1px solid red; */
    padding: 7px;
}
nav ul li a {
    color: unset;
    text-decoration: none;
}
nav ul li:hover {
    cursor: pointer;
}